<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #d1{
            width: 200px;
            height: 200px;
            background:red;
        }
    </style>
    <script  src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <script>
        $(function(){
            $("#d1").click(function(){
                $.post("/index2/",{name:"Bob",age:18},function(data){
                    console.log(data)
                    $("#myp").text("密码输入错误！")
                })
            })


        })
    </script>
</head>
<body>
    <div id="d1"></div>
    <p id="myp"></p>
</body>
</html>
