{%extends 'login.html'%}


{%block ZTBF%}
<link rel="stylesheet" href="/static/css/main.css">
<div>
    <div class="md3">
        <img src="/static/img/main/t4.png">
    </div>
    <div id="md4">
        <div id="md44">
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/1.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/2.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/3.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/4.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/5.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>

            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/6.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/7.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/8.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/9.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳/static/img沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/10.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>

            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/11.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/12.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/13.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/14.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/001/15.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
        </div>
    </div>
    <div style="height:40px;"></div>
    <div class="md3">
        <img src="/static/img/main/t1.png">
    </div>
    <div id="md6">
        <div id="md66">
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/002/1.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/002/2.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/002/3.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/002/4.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/002/5.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>

            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/002/6.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/002/7.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/002/8.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/002/9.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/002/10.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
        </div>
    </div>
    <div style="height:40px;"></div>
    <div class="md3">
        <img src="/static/img/main/t2.png">
    </div>
    <div id="md8">
        <div id="md88">
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/1.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/2.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/3.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/4.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/5.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>

            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/6.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/7.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/8.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/9.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/10.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>

            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/11.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/12.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/13.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/14.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/003/15.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
        </div>
    </div>
    <div style="height:40px;"></div>
    <div class="md3">
        <img src="/static/img/main/t3.png">
    </div>
    <div id="md10">
        <div id="md1010">
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/1.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/2.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/3.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/4.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/5.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>

            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/6.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/7.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/8.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/9.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/10.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>

            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/11.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
            <div class="md444">
                <a href="#">
                    <img src="/static/img/main/004/12.jpg">
                </a>
                <div class="md4444">
                    <div style="color:#555;">佳沛意大利绿奇异果（原箱）</div>
                    <div style="color:#999;">￥199.00/36个</div>
                    <img src="/static/img/main/gwc.png">
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block XXX%}
    <div id="d11">
        <!--底部二维码区域-->
        <div id="d111">
            <div id="i21">
                <img src="/static/img/2-1.jpg">
            </div>
            <span id="ii21">天天果园官方微信</span>
            <div id="i22">
                <img src="/static/img/2-2.jpg">
            </div>
            <span id="ii22">天天果园APP</span>
        </div>
        <!--底部超链接区域-->
        <div id="d112">
            <div>

                <h4>购物指南</h4>
                <p>
                    <a href="http://www.fruitday.com/help/index/725">新用户注册</a>
                </p>
                <p>
                    <a href="http://www.fruitday.com/help/index/726">在线下单</a>
                </p>
                <p>
                    <a href="http://www.fruitday.com/help/index/727">支付方式</a>
                </p>

            </div>
            <div>
                <h4>配送说明</h4>
                <p>
                    <a href="http://www.fruitday.com/help/index/728">运费说明</a>
                </p>
                <p>
                    <a href="http://www.fruitday.com/help/index/729">配送方式</a>
                </p>
                <p>
                    <a href="http://www.fruitday.com/help/index/730">发票说明</a>
                </p>
            </div>
            <div>
                <h4>售后服务</h4>
                <p>
                    <a href="http://www.fruitday.com/help/index/731">退换货规则</a>
                </p>
                <p>
                    <a href="http://www.fruitday.com/help/index/732">服务保障承诺</a>
                </p>
                <p>
                    <a href="http://www.fruitday.com/help/index/733">验货与签收</a>
                </p>
            </div>
            <div>
                <h4>企业服务</h4>
                <p>
                    <a href="http://www.fruitday.com/help/index/734">企业订购</a>
                </p>
                <p>
                    <a href="http://www.fruitday.com/help/index/735">公司简介</a>
                </p>
                <p>
                    <a href="http://www.fruitday.com/help/index/736">定制专区</a>
                </p>
            </div>
        </div>

    </div>
{%endblock%}

{%block ZDB%}
<div style="height: 20px;"></div>
{%endblock%}